<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us -Gym Management System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style2.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='contact.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='member.css')}}">
   
</head>
<body class="about-background">
    
     <nav>
        <h1><span>Gym</span> Managment <span>System</span></h1>
        <ul>
            <li><a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a></li>
            <li><a class="nav-link active" aria-current="page" href="{{url_for('about')}}">About</a></li>
            <li><a class="nav-link active" aria-current="page" href="{{url_for('member')}}">Membership</a></li>
            <li><a class="nav-link active" aria-current="page" href="{{url_for('contact')}}">Contact</a></li>
        </ul> 
    </nav>
     <div class="container">
        <div class="text">
            <center><h1>About Us</h1>
                <p>Our Gym provide the client  with zomba , yoga, all the facilities and equipments available in You can also join us by zoom meeting!</p></center>
            </div>
     </div>
     <div class="box">
        <div class="con"></div>
        <div class="con1"></div>
        <div class="con2"></div>
        <div class="con3"></div>
        <div class="con4"></div>
        <div class="con5"></div>


     </div>
     <footer class="footer">
        <p>&copy; 2024 Your Website Name. All rights reserved.</p>
      </footer>
</body>
</html>